.QLineEdit#usernameInput{
	width: 150px;
	height: 20px;
}

.QLineEdit#passwordInput{
	width: 150px;
	height: 20px;
}

.QLabel#labelError{
	font: 10px;
	color: red;
}

.QPushButton#loginBtn{
	width: 170px;
	background-color: #68B2A0;
	color: white;
	border: 3px solid #68B2A0;
	border-radius: 11px;
}
